.root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color-contrast);
  transition: background ease-in var(--time-bg-change);
}

.card {
  width: 100%;
  max-width: 30.875rem;
}
