.root {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
}

.paragraphInfoSection {
  margin-top: 0rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  color: var(--paragraph-color);
  font-size: var(--paragraph-font-size);
  text-align: center;
}

.paragraphInfoSection h2 {
  display: block;
  font-size: var(--h2-font-size);
  color: var(--h2-font-color);
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0rem;
  margin-inline-end: 0rem;
  font-weight: 700;
  text-align: center;
}

.paragraphInfoSection .infP1 {
  display: block;
  line-height: var(--paragraph-line-height);
  margin-block-start: 0.2rem;
  margin-block-end: 0.01rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.inputsSection {
  /*Padre*/
  display: inline-table;
  height: 3.7rem;
  /*El hijo 1, tiene 3rem, el hijo 2 tiene 3rem y el hijo 3 tiene 0.6rem, queda 0.1rem para la separar el hijo 2 del hijo 3*/
  width: 100%;
  /*Todo el ancho del contenedor, es este caso: root*/
  position: relative;
  /*Para poder darle posicion absoluta a los hijos*/
}

.submitButton {
  /*Hijo 1 del contenedor inputsSection*/
  position: absolute;
  right: calc(100% - 95%);
  height: 3rem;
  width: 26%;
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
  font-size: 1.05rem;
  transition: 0.4s;
  margin-left: 0.2rem;
}

.submitButton:hover {
  font-weight: bold;
  font-size: 1.08rem;
}


/*Estilo de la entrada tipo texto y validacion de datos para esa entrada*/

.userNameInput {
  /*Hijo 2 del contenedor inputsSection*/
  position: absolute;
  right: calc(100% - 65%);
  width: 60%;
  height: 3rem;
  border: var(--inputText-border-notFocus) solid;
  border-color: rgba(226, 232, 240, 1);
  border-radius: var(--inputText-border-radius);
  color: var(--paragraph-color);
  font-size: var(--paragraph-font-size);
  margin-right: 0.2rem;
  transition: border-color 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
}

.userNameInput:focus {
  outline: 0;
  border: var(--inputText-border-focus) solid;
  border-color: rgba(226, 232, 240, 1);
}

.userNameInput:valid:focus:not(:placeholder-shown) {
  border-color: var(--primary-color);
  box-shadow: 0rem 0rem 0.08rem 0.1rem var(--primary-color);
}

.userNameInput:invalid:focus:not(:placeholder-shown) {
  border-color: rgb(240, 49, 49);
  background-color: rgb(255, 106, 106, 0.05);
}

.userNameInput:invalid:focus:not(:placeholder-shown) {
  &~.requirements {
    max-height: 3.1rem;
    padding: 0 0 0 0;
  }
}

.requirements {
  /*Hijo 3 del contenedor inputsSection*/
  position: absolute;
  width: 85%;
  right: calc(100% - 90%);
  bottom: 0rem;
  padding: 0 0px 0 0px;
  color: #999;
  max-height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  color: red;
  font-style: italic;
  font-size: 0.5rem;
}

.randomName {
  width: 100%;
  height: 2rem;
  position: relative;
  margin-top: 0;
}

.randomName a {
  display: block;
  font-size: 0.75rem;
  position: absolute;
  left: 5%;
  color: var(--primary-color);
  font-weight: bold;
}