.root {
  margin: 0;
  padding: 0;
  background-color: #303030;
}

.notification {
  color: #ffffff;
  text-align: center;
  line-height: var(--notification-text-lineHeight);
  font-size: var(--notification-text-size);
  font-weight: var(--notification-text-fondWeight);
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}
