.root {
  min-height: 1rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(1, 181, 116, 0.2),
      rgba(1, 181, 116, 0.2)
    ),
    linear-gradient(0deg, #f2fafa, #f2fafa);
  border: 0.0625rem solid rgba(1, 181, 116, 0.2);
  box-shadow: 0.4375rem 0.4375rem 1.5625rem 0.125rem rgba(112, 144, 176, 0.2);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.root p {
  /*para todos los paragrap*/
  font-size: 0.875rem;
  font-weight: 500;
}

.root :nth-child(1) {
  text-align: left;
  /*Para el nombre*/
  font-weight: bold;
  padding-bottom: 0.2rem;
}

.root :nth-child(2) {
  /*Para el texto del mensaje*/
  text-align: left;
  color: rgba(27, 37, 89, 1);
}
