.root {
    width: 100vw;
    height: 100vh;
    padding: 0rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*Contenedor padre*/
.sendMessageElements {
    width: 50.875rem;
    height: 3.375rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    align-self: end;
}

/*Hijo 1*/
.messageAreaInput {
    height: 3.375rem;
    flex-grow: 0.9066;
    /* width: 90.66%; /*Porcentaje del width del padre */
    padding: 0;
    font-size: 0.875rem;
    padding-inline-start: 1.125rem;
    line-height: 0.875rem;
    background-color: var(--inputText-background-color);
    color: var(--paragraph-color);
    border: var(--inputText-border-notFocus) solid var(--inputText-boder-color);
    margin-right: 0.625rem;
    border-radius: var(--inputText-border-radius);
    transition: all ease-in-out 0.4s;
}

.messageAreaInput:checked {
    outline: 0;
    border: none;
}

.messageAreaInput:focus {
    outline: 0;
    box-shadow: 0rem 0rem 0.15rem 0rem var(--primary-color);
}

/*Hijo 2*/
.sendMessageButton {
    background-color: var(--primary-color);
    border-radius: 0.75rem;
    height: 100%;
    max-height: 3.375rem;
    /*width: 8.11%; /*Porcentaje del width del padre */
    width: 4.125rem;
    min-width: 4.125rem;
    max-width: 4.125rem;
    box-shadow: 0rem 1.3125rem 1.6875rem -0.625rem rgba(67, 200, 192, 0.47);
}

.icon {
    font-size: 1.5rem;
    color: white;
    vertical-align: middle;
}


/*LAS DOS LAS NOTIFICACIONES*/
.notificationContainer {
    /*Contenedor para de las notificaciones*/
    width: 50.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    row-gap: 1rem;
    align-self: start;
}

.notificationBox {
    border-radius: var(--boder-radius-notification-box);
    width: 54.42%;
    height: 3.9375rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*ELEMENTOS COPIAR LINK PARA EL CHAT*/
.copyLinkSection {
    position: absolute;
    top: 3%;
    right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 19.61%;
    min-width: 11.5rem;
    /*width: 19.0625rem;*/
    height: 4.375rem;
    background: var(--copyLinkSection-background);
    border: var(--copyLinkSection-border);
    border-radius: var(--copyLinkSection-border-radius);
    box-shadow: var(--copyLinkSection-box-shadow);
}

.copyLinkButton {
    background: var(--copyLinkButton-background); 
    border-radius: var(--copyLinkButton-border-radius);
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;
    box-shadow: var(--copyLinkButton-box-shadow);
    margin-left: 5%;
}

.copyLinkText {
    display: block;
    color: rgba(18, 15, 67, 1);
    /*font-size: 1.125rem;*/
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.125rem;
    text-decoration: none;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    transition: all ease-in-out 0.2s;
}



/*AREA PARA MOSTRAS MENSAJES DEL CHAT*/
.messagesChatArea {
    width: 50.875rem;
    flex-grow: 1;
}