.root {
  min-height: 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(117, 203, 210, 1);
  border: none;
  box-shadow: 0.4375rem 0.4375rem 1.5625rem 0.125rem rgba(112, 144, 176, 0.2);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.root p {
  color: rgba(255, 255, 255, 1);
  font-size: 0.875rem;
  font-weight: 500;
}
